.services-section {
  padding: 2rem;
  width: 100%;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
  width: 100%;
}

.service-card {
  padding: 2.5rem 1.5rem;
}

.service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  color: var(--primary-blue);
  font-size: 2.5rem;
}

.service-icon img {
  width: 72px;
  height: 72px;
}

.service-card h3 {
  margin-bottom: 0.75rem;
  color: var(--text-dark);
  font-size: 24px;
}

.service-card p {
  color: var(--text-muted);
  font-size: 14px;
  line-height: 1.6;
}











@media (max-width: 768px) {
  .services-section {
    padding: 1rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}